<div class="card-deck dashboard-card-deck " data-region="card-deck" role="list">
    {{#mods}}
        <div class="card dashboard-card" role="listitem" data-region="course-content">
            <a class="text-decoration-none" href="{{url}}" tabindex="-1">
                <div class="card-img dashboard-card-img activitytiles-image" style="background-image: url({{image}});">
                    <div class="course-category activitytiles-topic">
                        {{topic}}
                        <span class="sr-only">Activity image</span>
                    </div>
                    {{^image}}
                        {{#icon}}
                            <i class="activitytiles-modicon fa fa-{{icon}} fa-fw"></i>
                        {{/icon}}
                        {{^icon}}
                            <div class="activitytiles-modicon optionicon icon-no-margin modicon_assign activityiconcontainer {{purpose}}">
                                <img class="icon activityicon" aria-hidden="true" src="{{ iconurl }}">
                            </div>
                        {{/icon}}
                    {{/image}}
                </div>
            </a>
            <div class="card-body pr-1 course-info-container" id="course-info-container-186-5">
                <div class="d-flex align-items-start">
                    <div class="w-100">
                        <a class="text-decoration-none" href="{{url}}" class="aalink coursename mr-2 mb-1">
                            <span class="sr-only">
                                Course name
                            </span>
                            <span class="multiline">
                                {{title}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/mods}}
</div>



