<div class="activitytiles-completion">
    <div class="badge badge-warning text-nowrap" title="{{modtitle}}">
        <i class="fa fa-circle-o" aria-hidden="true"></i>
        {{#str}}completion-n, completion{{/str}}
    </div>
</div>