<div class="activitytiles-completion">
    <div class="badge badge-success text-nowrap" title="{{modtitle}}">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        {{#str}}completion-y, completion{{/str}}
    </div>
</div>